@charset "UTF-8";



/* CONFIGURANDO AS CORES PRINCIPAIS */
:root {
    --cor00: #011F26;
    --cor01: #012626;
    --cor02: #592C22;
    --cor03: #8C442A;
    --cor04: #A6867B;
    --cor06: #055252;
}




/* CONFIGURAÇÕES GERAIS DO PROJETO */
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; /* considera as bordas no calculo dos tamanhos. NECESSARIO PARA O PROJETO!!!! */
    color: var(--cor01); /* COR GERAL DOS TEXTOS DO PROJETO */
}




/* CONFIGURANDO BACKGROUND COM BLUR */
body::before {
    content: "";
    position: fixed;
    inset: -20px;

    background-image: url("../images/bg.jpg");
    background-color: var(--cor03);
    background-size: cover;
    background-position: center;

    filter: blur(10px) brightness(0.7);
    z-index: -1;
}




/* CONFIGURANDO O CORPO DA PÁGINA */
body, html {
    height: 100vh;
    width: 100vw;
}




/* CONFIGURANDO O MAIN */
/* TÁ TUDO DENTRO DO MAIN */
main {
    position: relative;
    height: 100vh;
    width: 100vw;
}




/* CONFIGURANDO A SECTION */
/* TÁ TUDO DENTRO DA SECTION, A SECTION TÁ DENTRO DE LOGIN */
section#login {
    position: absolute;
    top: 50%;
    left: 50%;

    overflow: hidden; /* faz a imagem ficar dentro do quadro */

    background-color: white;
    height: 515px;
    width: 280px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);

    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}




/* CONFIGURANDO A FOTO */
section#login > div#imagem {
    display: block;
    background: var(--cor03) url(../images/modelo.png) no-repeat;
    background-size: cover;
    background-position: 0px -70px;
    height: 200px;
}




/* CONFIGURANDO O CORPO DO FORMULÁRIO/PARTE BRANCA */
section#login > div#formulario {
    display: block;
    padding: 10px;
}




/* TÍTULO "LOGIN" */
div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}



/* TEXTO DE BEM VINDO */
div#formulario > p {
    font-size: 0.8em;
    /*padding-bottom: 10px;*/
}




/* BG DOS FORMULARIOS */
form > div.campo {
    background-color: var(--cor01);
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}




/* ÍCONES DE LOGIN E SENHA */
div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}



/* APAGANDO OS TEXTOS DO LABEL */
div.campo > label {
    display: none;
}




/* FORMULARIOS */
/* CONFIGUREI INDIVIDUALMENTE PARA TER MAIS PRECISÃO NOS PIXELS */
div#mail > input {
    background-color: #b2e6ce;
    font-size: 1em;
    height: 92%;
    width: calc(100% - 40px);
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translate(38.6px, -41px);
}
div#senha > input {
    background-color: #b2e6ce;
    font-size: 1em;
    height: 92%;
    width: calc(100% - 40px);
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translate(38.6px, -40px);
}





/* BOTÃO DE ENTRAR */
form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--cor01);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form > input[type=submit]:hover {
    background-color: var(--cor06);
}

/* BOTÃO DE ESQUECI A SENHA */
form > a.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    text-decoration: none;
    background-color: var(--cor02);
    color: white;
    border-radius: 5px;
}
/* ÍCONE DO BOTÃO */
form > a.botao > span {
    color: white;
}
form > a.botao:hover {
    background-color: var(--cor03);
}